.root {
}


#bg_right_panel{
	-fx-background-color:rgb(215,207,182);
	-fx-background-image: url('icon/tet_pol32.png');
}
#target_upgrade_button{
	-fx-background-image: url('icon/sell_icon_unselected.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}
#target_sell_button{
	-fx-background-image: url('icon/sell_icon_unselected.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}
.towerBG_0{
	-fx-background-color: rgba(0,0,255,0.3);
}
.towerBG_1{
	-fx-background-color: rgba(0,255,0,0.3);
}
.towerBG_2{
	-fx-background-color: rgba(255,0,0,0.3);
}
.towerBG_3{
	-fx-background-color: rgba(255,255,0,0.3);
}

#tower_state, #tower_hover, #tower_hover_lock{
	-fx-text-alignment:center;
}
#tower_hover{ 
	-fx-background-color: rgba(0,0,255,0.4);
} 
#tower_hover_lock{ 
	-fx-background-color: rgba(255,0,0,0.4); 
} 
.button_tet
{
	-fx-background-image: url('icon/border_button_2.png');
	-fx-background-repeat: no-repeat;
	-fx-background-size: 100%;
	-fx-background-position: center;
	
}
.button_tet:hover
{
	-fx-background-image: url('icon/border_button_2_hover.png');
	
}
#targetUpgradeButton
{
	-fx-background-image: url('icon/arr_up.png');
	-fx-background-repeat: no-repeat;
}
#targetSellButton
{
	-fx-background-image: url('icon/remove.png');
	-fx-background-repeat: no-repeat;
}
.label_icon_pause
{
	-fx-background-image: url('icon/icon_pause.png');
	-fx-background-repeat: no-repeat;
	-fx-background-size: 100%;
	-fx-background-position: center;
}
.label_icon_play
{
	-fx-background-image: url('icon/icon_play.png');
	-fx-background-repeat: no-repeat;
	-fx-background-size: 100%;
	-fx-background-position: center;
}
.label_icon_menu
{
	-fx-background-image: url('icon/icon_menu.png');
	-fx-background-repeat: no-repeat;
	-fx-background-size: 100%;
	-fx-background-position: center;
}
#buyTower1{
	-fx-background-image: url('icon/p1.png');
	-fx-background-repeat: no-repeat;
	-fx-background-size: 100%;
	-fx-background-position: center;
}
#buyTower2{
	-fx-background-image: url('icon/p2-r.png');
	-fx-background-repeat: no-repeat;
	-fx-background-size: 100%;
	-fx-background-position: center;
}
#buyTower3{
	-fx-background-image: url('icon/p2-g.png');
	-fx-background-repeat: no-repeat;
	-fx-background-size: 100%;
	-fx-background-position: center;
}
#buyTower4{
	-fx-background-image: url('icon/p2-b.png');
	-fx-background-repeat: no-repeat;
	-fx-background-size: 100%;
	-fx-background-position: center;
}
#buyTower5{
	-fx-background-image: url('icon/p3-1.png');
	-fx-background-repeat: no-repeat;
	-fx-background-size: 100%;
	-fx-background-position: center;
}
#buyTower6{
	-fx-background-image: url('icon/p3-2.png');
	-fx-background-repeat: no-repeat;
	-fx-background-size: 100%;
	-fx-background-position: center;
}
#buyTower7{
	-fx-background-image: url('icon/p3-3.png');
	-fx-background-repeat: no-repeat;
	-fx-background-size: 100%;
	-fx-background-position: center;
}
#targetTowerInfo{
	-fx-border-width: 2px;
	-fx-border-color: rgb(0,0,125);
	-fx-border-radius: 5px;
	-fx-background-color: rgba(0,0,255, 0.1);
}
#targetBuffId{
	-fx-font-size:12px;
	-fx-font-weight:bold;
}
#targetBuffDesc{
	-fx-font-style:italic;
	-fx-font-size:11px;
}
.label_def_text{
	-fx-font: 19px "Serif";
	-fx-font-style:italic;
}
.label_bold_text{
	-fx-font: 19px "Serif";
	-fx-font-style:italic;
	-fx-font-weight:bold;
}
.label_Y_text{
	-fx-font-weight:bold;
	-fx-font: 25px "Serif";
}
.blocked{
	-fx-background-color: rgba(255,0,0,0.5);
	-fx-border-color: rgba(255,0,0,0.7);
	-fx-text-fill: white;
	-fx-border-width: 3px;
	-fx-border-radius: 5px;
	-fx-font-weight:bold;
}

