.root {
-fx-background-image: url('icon/tet_pol32.png');
-fx-background-size: 100% 32px;
}

.button
{
	-fx-text-fill: white;
    -fx-font-weight: bold;
	-fx-background-color: none;
	-fx-border-width: 0px;
	-fx-background-image: url('icon/border_button_2.png');
	-fx-background-repeat: no-repeat;
	-fx-background-size: 100%;
	-fx-background-position: center;
	
}
.button:hover
{
	-fx-background-image: url('icon/border_button_2_hover.png');
	
}

#tdlabel {
    -fx-font-size: 50px;
    -fx-text-fill: rgb(28,58,166);
    -fx-font-family: "Arial Black";
}

#welcomelabel {
    -fx-font-size: 20px;
    -fx-font-family: "Arial Black";
    -fx-fill: #818181;
}
.label{
	-fx-font: 19px "Serif";
	-fx-font-style:italic;
}
.labelUser
{
	-fx-font: 14px "Serif";
}
.choice-box .label {
    -fx-font: 12px "Serif";
	-fx-font-style:italic;
}

