.root {
}

#buyTowerButton {
    -fx-background-image: url('icon/BUY_ICON.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

#openMenuButton{
    -fx-background-image: url('icon/MENU_ICON.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

#timeLabel{
    -fx-font-size: 20;
}

#my_label{ 
-fx-background-color: #0f8dd9; 
} 
#my_label_selected{ 
-fx-background-color: #1a4d71; 
-fx-border-color: rgba(0, 0, 0, 0.4); 
-fx-border-width: 1; 
} 